name: Docker build image

on:
  workflow_call:
    inputs:
      tag:
        type: string
        default: latest
      registry:
        type: string
        default: ghcr.io
      image-name:
        type: string
        default: ${{ github.repository }}
      push-image:
        type: boolean
        default: false
      platforms:
        type: string
        default: linux/amd64,linux/arm64

jobs:
  docker-build-push:
    name: Build ${{ inputs.push-image && "and push aa" || "x" }}docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    env:
      working-directory: .
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: "v2.0.0-rc.0"

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ inputs.registry }}
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image-name }}
          tags: |
            type=raw,value=latest
            type=semver,pattern={{raw}},value=${{ inputs.tag }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.working-directory }}
          push: ${{ inputs.push-image }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: ${{ inputs.platforms }}
