name: Release

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
      assets:
        type: string
        default: ''

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure git identity
        run: |
          git config --global user.email "contact@raphael-catarino.fr"
          git config --global user.name "[bot] zareix"

      - name: Remove existing tag if exists
        run: |
          if git rev-parse ${{ inputs.tag }} >/dev/null 2>&1; then
            echo "Tag ${{ inputs.tag }} already exists. Deleting it..."
            git push --delete origin ${{ inputs.tag }}
            git tag -d ${{ inputs.tag }}
          fi

      - name: Create tag
        run: |
          git tag -a ${{ inputs.tag }} -m "Version ${{ inputs.tag }}"
          git push origin ${{ inputs.tag }}

      - name: Get previous tag
        id: get_previous_tag
        run: |
          PREVIOUS_TAG=$(git tag --sort=-creatordate | sed -n 2p) 

          if [ -z "$PREVIOUS_TAG" ]; then
            echo "No previous tag found."
            PREVIOUS_TAG="NONE"
          fi

          echo "previous_tag=${PREVIOUS_TAG}" >> $GITHUB_ENV

      - name: Generate changelog
        id: changelog
        run: |
          if [ "$previous_tag" = "NONE" ]; then
            echo "No tags found. Generating changelog for all commits..."
            git log --pretty=format:"- %h %s" > CHANGELOG.md
          else
            echo "Generating changelog from previous tag: $previous_tag"
            git log $previous_tag..HEAD --pretty=format:"- %h %s" > CHANGELOG.md
          fi

      - name: Download assets
        uses: actions/download-artifact@v4
        if: ${{ inputs.assets != '' }}
        with:
          name: ${{ inputs.assets }}
          path: _assets

      - name: Create release with assets
        if: ${{ inputs.assets != '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create refs/tags/"${{inputs.tag}}" \
            --title="${{inputs.tag}}" \
            --notes-file CHANGELOG.md _assets/*

      - name: Create release
        if: ${{ inputs.assets == '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create refs/tags/"${{inputs.tag}}" \
            --title="${{inputs.tag}}" \
            --notes-file CHANGELOG.md
